<div
  class="comment-container flex flex-col justify-center bg-gray-200 p-5 m-auto h-fit rounded-2xl w-md max-w-md gap-5 shadow-md">
  <div class="grade flex flew-row justify-center items-center gap-2.5">
    <div class="grade-stars flex flex-row justify-center items-center gap-x-1">
      <ng-container *ngFor="let nbYellowStar of [].constructor($nbStars); let i = index">
        <div class="star"></div>
      </ng-container>
      <ng-container *ngFor="let nbGrayStar of [].constructor(($maxNbStars)-($nbStars)); let i = index">
        <div class="star" style="background: gray"></div>
      </ng-container>
    </div>
    <div class="grade-text font-bold text-center">
      <span class="text-3xl" style="color:#FFC107;">{{ $nbStars }}</span>
      <span class="text-2xl text-gray-400">/</span>
      <span class="text-gray-400 text-2xl">5</span>
    </div>
  </div>
  <div class="comment font-bold text-2xl text-center w-80 max-w-80 m-auto">
    {{ $commentContent }}
  </div>
  <div class="user flex flex-row justify-start items-center gap-2">
    <img ngSrc="/assets/IconPapi.svg" alt="" height="52" width="52"/>
    <span class="font-medium">Jean-Michel JEMEPA</span>
  </div>

</div>
