<div class="list-tasks-container scrollable-list flex flex-col gap-7">
  <ng-container *ngFor="let task of tasks; let i = index">
    <!-- <div class="task-container relative w-full h-fit flex flex-row gap-6 items-center bg-gray-200 rounded-2xl p-3 shadow-md"
         [class.cursor-pointer]="task.subTasks && task.subTasks.length > 0"
         [class.hover:bg-gray-300]="task.subTasks && task.subTasks.length > 0"
         (click)="task.subTasks && task.subTasks.length > 0 && showTaskDetails(task)">
      <div class="task-checkbox w-16 h-16 min-w-16 min-h-16 max-w-96 max-h-96 bg-white rounded-xl"
           (click)="toggleCheck(i, $event)">
        <img ngSrc="/assets/checkIcon-1.svg"
             alt="checkIcon.svg"
             *ngIf="checkedTasks.has(i)"
             height="296"
             width="296"/>
      </div>
      <span class="font-semibold text-3xl pr-24">{{ task.name }}</span>
      <img *ngIf="task.subTasks && task.subTasks.length > 0"
           ngSrc="/assets/information.png"
           alt="information.png"
           height="32"
           width="32"
           class="absolute right-10"/>
    </div>
    -->
    <div class="flex flex-col w-full h-fit bg-gray-200 rounded-2xl p-4 shadow-md relative"
         [class.cursor-pointer]="task.subTasks && task.subTasks.length > 0"
         [class.hover:bg-gray-300]="task.subTasks && task.subTasks.length > 0"
         (click)="task.subTasks && task.subTasks.length > 0 && showTaskDetails(task)">

      <div class="first-row flex flex-row flex-1">
        <div class="chronometer-container">
          <span class="text-xl">5 minutes</span>
          <img ngSrc="/assets/chronometer.png"
               alt="Image de chronomètre"
               height="64"
               width="64"
               class=""/>
        </div>
        <div class="assigned-cooks-list flex flex-row absolute right-0 top-0">
          <div class="assigned-cook-profile flex flex-col justify-center items-center">
            <img ngSrc="/assets/cooks/3.png"
                 alt="Icone de profil de cuisinier"
                 height="64"
                 width="64"
                 class=""/>
            <span>Michel</span>
          </div>
          <div class="assigned-cook-profile flex flex-col justify-center items-center">
            <img ngSrc="/assets/unknown-icon.svg"
                 alt="Icone point interrogation"
                 height="64"
                 width="64"
                 class=""/>
            <span>?</span>
          </div>

        </div>


      </div>
      <div class="second-row">

      </div>
      <div class="third-row">

      </div>

    </div>

  </ng-container>
</div>

<p-dialog
  [(visible)]="showDialog"
  [header]="selectedTask?.name || ''"
  [modal]="true"
  [style]="{ width: '50vw', fontFamily: 'Bricolage Grotesque' }"
  [draggable]="true"
  [resizable]="false">
  <div class="p-4 flex flex-col gap-4 items-center justify-center">
    <ol class="list-decimal pl-6 space-y-4">
      <li *ngFor="let subtask of selectedTask?.subTasks" class="text-3xl">
        {{ subtask.description }}
      </li>
    </ol>
    <button class="button" (click)="showDialog = false">J'ai compris</button>
  </div>
</p-dialog>
