<div class="list-tasks-container">
  <div class="scrollable-list">
    <div *ngFor="let task of tasks; let i = index" 
         class="task-item"
         [class.completed]="checkedTasks.has(i)"
         [style.background]="task.assignedCooks && task.assignedCooks[0]?.color + '10'"
         [draggable]="!checkedTasks.has(i)"
         (click)="showTaskDetails(task)"
         (keydown)="showTaskDetails(task)"
         (dragstart)="onDragStart($event, task)">
      
      <div class="task-header">
        <div class="checkbox" 
             [class.checked]="checkedTasks.has(i)"
             (click)="toggleCheck(i, $event)"
             (keydown)="toggleCheck(i, $event)">
          <i *ngIf="checkedTasks.has(i)" class="pi pi-check" style="color: white"></i>
        </div>
        
        <h3 class="task-title">{{ task.name }}</h3>
        
        <div class="task-icons">
          <div class="icon" >{{ task.icons }}</div>
        </div>
      </div>

      <div class="task-footer">
        <div class="assigned-cooks">
          <ng-container *ngFor="let nbCook of [].constructor(task.nbCooksNeeded); let ind = index">
            <div class="cook" 
                 *ngIf="task.assignedCooks && task.assignedCooks[ind]; else emptyCook"
                 [style.background]="task.assignedCooks[ind].color">
              <img [src]="'/assets/cooks/' + task.assignedCooks[ind].avatar + '.png'"
                   [alt]="task.assignedCooks[ind].name">
            </div>
            <ng-template #emptyCook>
              <div class="cook empty">
                👨‍🍳
              </div>
            </ng-template>
          </ng-container>
        </div>

        <div class="timer-wheel" *ngIf="task.duration">
          <svg width="40" height="40">
            <circle class="bg" cx="20" cy="20" r="18" />
            <circle class="progress" cx="20" cy="20" r="18"
                    [style.strokeDasharray]="2 * Math.PI * 18"
                    [style.strokeDashoffset]="getTimerOffset(task.duration)" />
          </svg>
          <div class="timer-text">
            {{ task.duration }}s
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="showDialog"
  [header]="selectedTask?.name || ''"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  styleClass="task-dialog"
  [style]="{ width: '60vw' }">
  
  <div class="dialog-content">
    <div class="subtasks-container">
      <div *ngFor="let subtask of selectedTask?.subTasks; let i = index" 
           class="subtask-item">
        <div class="subtask-number">{{ i + 1 }}</div>
        <p class="subtask-description">{{ subtask.description }}</p>
      </div>
    </div>
    
    <div class="dialog-footer">
      <button class="close-button" (click)="showDialog = false">
        <i class="pi pi-check"></i>
        J'ai compris
      </button>
    </div>
  </div>
</p-dialog>
