@import '../../../variables';


.dashboard-header {
  width: 100%;
  height: fit-content;

  &__container {
    margin: 0 auto;
    background-color: #ebe9e6e0;
    width: 80%;
    border-radius: 0 0 $border-radius-high $border-radius-high;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    padding: 1em 5em;
  }

  .text-star-color {
    color: #EFB507;
  }
}