<div class="header-container flex flex-row fixed inset-0 justify-center items-center h-fit gap-8" style="background-color: #EBE9E6;">
  <div class="flex flex-row bg-white p-1.5 h-fit justify-between items-center rounded-xl max-h-12 gap-1"
       *ngIf="showEarnedStars">
    <!-- je voudrais 28px mais y a pas, le plus proche c'est text-3xl = 30px -->
    <span class="text-star-color text-center text-3xl">{{ $nbEarnedStars }}</span>
    <div class="star"></div>
  </div>
  <h3 class="" style="color: #E86300">TouchChef</h3>
  <button class="bg-red-700 font-bold" *ngIf="showStopGameButton">
    Arrêter la partie
  </button>
</div>
