@import '../../../variables';

root {
  --border-angle: 0deg;
}

.shop-container {
  background: $light-gray-color;
  width: 48vw;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.shop-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.shop-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: $white-color;
  margin-bottom: .5rem;
  text-align: center;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-height: 132px;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.product-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  
  &:hover:not(.disabled) {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.2);
    
    .product-icon .glow-effect {
      opacity: 1;
    }
  }
  
  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.2);
    
    .product-icon .glow-effect {
      opacity: 1;
    }
  }
}

.product-icon {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: relative;
  
  .glow-effect {
    position: absolute;
    inset: -5px;
    background: radial-gradient(circle at center, rgba(255,255,255,0.8) 0%, transparent 70%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.product-name {
  color: $white-color;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.cooldown-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .cooldown-progress {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    
    circle {
      fill: none;
      stroke: $white-color;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-dasharray: 100 100;
      animation: countdown 1.5s linear forwards;
    }
  }
}


@keyframes countdown {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: 100; }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  
  &:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}
