<div class="profile-container">
  <div class="profile-background" [style.background-color]="$playerColor" [style.outline]="'7px solid ' + $playerColor + '40'"></div>
  <div class="content">
    <div class="stats-container">
      <div class="heart-rate">
        <app-player-data-value 
          [playerData]="$playerHeartRate" 
          iconType="heart"
          alternativeText="BPM" 
          iconColor="#d96060"
          [iconHeight]="24" 
          [iconWidth]="24">
        </app-player-data-value>
      </div>
      <div class="energy">
        <app-player-data-value 
          [playerData]="$playerActivity" 
          iconType="thunder"
          alternativeText="Énergie" 
          iconColor="#6098d9"
          [iconHeight]="24" 
          [iconWidth]="24">
        </app-player-data-value>
      </div>
    </div>
    <img 
      [ngSrc]="'/assets/cooks/'+ $playerAvatar + '.png'" 
      [alt]="$playerName" 
      width="128" 
      height="128" 
      class="avatar">
    <span class="player-name" [style.--cook-color]="$playerColor">
      {{ $playerName }}
    </span>
  </div>
</div>
