<div class="minuteur-container flex flex-wrap">
  <h3 class="text-white text-2xl font-bold w-full text-center">Minuteur</h3>
  <div class="minuteur-content">
    <div class="timer-display" draggable="true" (dragstart)="onDragStart($event)">
      <div class="time-container">
        <span class="time-digit">{{ input[0] || '0' }}</span>
        <span class="time-digit">{{ input[1] || '0' }}</span>
        <span class="time-unit">s</span>
      </div>
      <button class="clear-button" (click)="clearInput()">
        <i class="pi pi-times"></i>
      </button>
    </div>

    <div class="numpad">
      <button *ngFor="let number of numbers; let i = index"
              class="number-button"
              [class.zero-button]="i === 9"
              (click)="onNumberClick(number)">
        {{ number }}
      </button>
    </div>
  </div>

  <div class="active-timers">
    <app-list-timers-item
      *ngFor="let timerItem of timers"
      [totalTime]="timerItem.timer.timerDuration"
      [cookColor]="timerItem.timer.cook.color"
      (timerComplete)="onTimerComplete(timerItem.id)"
      [avatar]="timerItem.timer.cook.avatar">
    </app-list-timers-item>
  </div>
</div>
