<div class="container-minuteur">
  <div class="left-container">
    <div class="display-numbers">

    </div>
    <div class="numbers-buttons inline-block">
      <div class="grid grid-cols-3 gap-4 p-4">
        <div
          *ngFor="let number of numbers"
          class="flex items-center justify-center w-12 h-12 rounded-full bg-blue-500 text-white text-2xl font-bold"
        >
          {{ number }}
        </div>
      </div>

    </div>
  </div>
  <div class="right-container">
    <div class="">

    </div>
  </div>

</div>
