<div class="dashboard__countdown">
  <app-countdown (countdownComplete)="onCountdownComplete()" />
</div>
<div class="dashboard__content h-full">
  <app-dashboard-header
    [showEarnedStars]="true"
    [showStopGameButton]="true"
    [nbEarnedStars]="earnedStars"
  />
  <div class="left-right-container flex flex-row justify-between w-full mt-4">
    <div class="left-container w-2/3 flex flex-col gap-8 items-center justify-center">
      <div class="progression__container flex flex-col gap-2 items-center">
        <h2 class="progression__title">
          Progression du <span>{{ selectedBurger.name }}</span>
        </h2>
        <app-progress-bar [progress]="progress" class="w-3/4 block" />
      </div>
      <div class="todo__container h-full">
        <app-list-tasks 
          [tasks]="selectedBurger.steps"
          (progressChange)="updateProgress($event)" />
      </div>
    </div>
    <div class="right-container flex flex-col justify-between h-full w-1/3 items-center">
      <app-dashboard-clock
        (statusChange)="onStatusChange($event)"
        (timeChange)="onTimeChange($event)"
        (timeEnd)="onTimeEnd()"
        [durationTime]="durationTime"
        class="w-full"
      />
      <div
        class="current-plate flex flex-col justify-center items-center"
        (click)="op.toggle($event)"
        (keydown)="op.toggle($event)"
      >
        <h2>Vous devez préparer :</h2>
        <img [src]="selectedBurger.imageUrl" [alt]="selectedBurger.name" class="mx-auto"/>
        <h2>{{ selectedBurger.name }}</h2>
        <button class="button button-orange" *ngIf="progress === 100" (click)="nextBurger()">Terminé</button>
        <p-overlayPanel #op>
          <div class="ingredients-list text-center text-xl">
            <div
              *ngFor="let ingredient of selectedBurger.ingredients"
              class="ingredient"
            >
              <img
                [src]="ingredient.imageUrl"
                [alt]="ingredient.name"
                class="w-16 mx-auto"
              />
              <span>{{ ingredient.name }}</span>
            </div>
          </div>
        </p-overlayPanel>
      </div>
    </div>
  </div>
</div>
<p-dialog 
  [(visible)]="showCommentDialog"
  [modal]="true"
  [header]="'La note du client'"
  [closable]="true"
  [style]="{ width: '30vw' }"
  [draggable]="false"
  [resizable]="false">
  <app-comment-panel
    [commentContent]="currentComment.content"
    [nbStars]="currentComment.nbStars"
    [firstNameUser]="currentComment.firstName"
    [lastNameUser]="currentComment.lastName">
  </app-comment-panel>
</p-dialog>
