<div class="minuteur-container flex flex-wrap">
  <h3 class="text-white text-2xl font-bold w-full text-center">Minuteur</h3>
  <div class="minuteur-content">
    <div class="timer-display" draggable="true" (dragstart)="onDragStart($event)">
      <div class="time-container">
        <span class="time-digit">{{ input[0] || '0' }}</span>
        <span class="time-digit">{{ input[1] || '0' }}</span>
        <span class="time-unit">s</span>
      </div>
      <button class="clear-button" (click)="clearInput()">
        <i class="pi pi-times"></i>
      </button>
    </div>

    <div class="numpad">
      <button *ngFor="let number of numbers; let i = index"
              class="number-button"
              [class.zero-button]="i === 9"
              (click)="onNumberClick(number)">
        {{ number }}
      </button>
    </div>
  </div>

  <div class="active-timers">
    @for (timer of timerService.getTimers(); track timer) {
      <div class="flex flex-col items-center justify-center gap-2">
        <app-bar-timer 
          width="200px" 
          height="32px" 
          [totalTime]="timer.duration" 
          [barColor]="timer.cook.color"
          [isStarted]="timer.isStarted"
          (timerComplete)="onTimerComplete(timer.id)">
        </app-bar-timer>
        <div class="cook-avatar" [style.background-color]="timer.cook.color">
          <img [ngSrc]="'assets/cooks/' + timer.cook.avatar + '.png'" alt="cook" height="42" width="42"/>
        </div>
      </div>
    }
  </div>
</div>
