p-knob {
    background-color: #ffffff;
    border-radius: 53%;
}

::ng-deep .p-knob-text {
    color: var(--text-color) !important;
    fill: var(--text-color) !important;
    font-weight: bold;
    font-size: 1.5em;
}


